<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://maven.apache.org/SETTINGS/1.0.0" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <localRepository>${user.home}/.m2/repository</localRepository>
    <profiles>
        <profile>
            <id>ibm-bamoe-v8-enterprise-maven-repository</id>
            <repositories>
                <repository>
                    <id>ibm-bamoe-v8-enterprise-maven-repository</id>
                    <url>https://maven.repository.redhat.com/ga/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>ibm-bamoe-v8-enterprise-maven-repository</id>
                    <url>https://maven.repository.redhat.com/ga/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>

        <profile>
            <id>ibm-bamoe-v806-enterprise-offline-maven-repository</id>
            <repositories>
                <repository>
                    <id>ibm-bamoe-v806-enterprise-offline-maven-repository</id>
                    <url>file:///Users/{USER}/.m2/bamoe-8.0.6.GA-maven-repository</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>ibm-bamoe-v806-enterprise-offline-maven-repository</id>
                    <url>file:///Users/{USER}/.m2/bamoe-8.0.6.GA-maven-repository</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>ibm-bamoe-v8-enterprise-maven-repository</activeProfile>
        <activeProfile>ibm-bamoe-v806-enterprise-offline-maven-repository</activeProfile>
    </activeProfiles>
</settings>